.rent {
  display: flex;
}

.rent-card {
  margin-left: 150px;
}

.rent-container {
  display: flex;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: rgba(128, 128, 128, 0.63);
}

.rent-avatar {
  padding-top: 10px;
}

.rent-button {
  padding-top: 50px;
  margin-left: 30px;
}
