.show-container {
  margin-top: 130px;
  justify-content: center;
}

.show-container h1 {
  text-transform: uppercase;
  font-size: 50px;
  // font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to top, #f5d020 0%, #f53803 74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bolder;
}

.show-content {
  border-radius: 30px;
  margin: 50px 15%;
  display: flex;
  justify-content: center;
}

.show-skills-container {
  margin-bottom: 20px;
  display: flex;
}

.show-img img{
  border-radius: 30px 0 0 30px;
  height: 600px;
  width: 650px;
}

.show-infos {
  position: relative;
  padding: 20px 40px;
  border-radius: 0px 30px 30px 0px;
  background: linear-gradient(to top, #f5d020 0%, #f53803 74%);
}

.show-infos h2, h3, h4, i {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
}

.fa-comment {
  font-size: 30px;
}

.reviews_container {
  display: flex;
}

.show-comment {
  padding: 0 30px;
}

.show-hire-btn {
  bottom: 20px;
  left: 45%;
}

#show-hire-btn {
  left: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
}

#show-back-btn {
  margin-bottom: 40px;
  position: relative;
  left: 42%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
}

#gender {
  text-transform: capitalize;
}
