<div class="cards-dwarf-container">
<h1>Discover our finest midget</h1>
  <div class="cards-dwarf">
      <% @dwarves.each do |dwarf| %>
        <%= render 'shared/card', dwarf: dwarf%>
      <%= link_to 'Hire me', new_dwarf_rent_path(dwarf.id), class: "btn btn-primary"  %>
      <% end %>
  </div>
</div>
