
<section>
    <h1>Our Top 7</h1>
    <div class="container-carousel">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <input type="radio" name="slides" id="slide-7">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197013/igwyg5sj0og37480nwe3.jpg" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Tim Marshall</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197127/vf6ejza9lebzm13ywxmz.jpg" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Christian Joudrey</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197098/myvcunz1ixhdtl3q3pi8.jpg" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Steve Carter</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197115/kpaie6r4zq7iost9wxpd.jpg" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Aleksandra Boguslawska</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197142/yi0kant4zxaqco2lsr1a.gif" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Rosan Harmens</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197080/mjgv7ogws1tzolaurzld.jpg" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Annie Spratt</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img class="bigimg" src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197062/hzfya7bdu72cn9neydwe.jpg" alt="">
                        </div>
                        <figcaption>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            <span class="credit">Photo: Annie Spratt</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197013/igwyg5sj0og37480nwe3.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197127/vf6ejza9lebzm13ywxmz.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197098/myvcunz1ixhdtl3q3pi8.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-4"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197115/kpaie6r4zq7iost9wxpd.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-5"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197142/yi0kant4zxaqco2lsr1a.gif" alt=""></label>
                </li>
                <li>
                    <label for="slide-6"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197080/mjgv7ogws1tzolaurzld.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-7"><img class="imgthumb" img src="http://res.cloudinary.com/dqyvlxybo/image/upload/v1629197062/hzfya7bdu72cn9neydwe.jpg" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section>
