<form action="dwarves" method="get">
  <div class="product-search">
      <div class="search-element">
          <label class="search-label">Activity ?</label>
          <input class="search-input" type="text" autocomplete="on" placeholder="Ex: Midget tossing" name="search">
      </div>
      <div class="search-element">
          <label class="search-label">Location ?</label>
          <input class="search-input" type="text" placeholder="City, State" class="" autocomplete="on" name="location">
      </div>
      <input type="submit" name="commit" class="search-button"></a>
  </div>
</form>