<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(https://www.es-promotions.com/images/content/slider/273_700x490.jpg?13:42:06&_e=.jpg);">
  <div class="container">
    <h1>MY LITTLE BUDDY</h1>
    <p>The best midget rental website!</p>
  </div>
</div>
