<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(http://res.cloudinary.com/dqyvlxybo/image/upload/v1629211500/jl0p4ykq1xq1gojgrwri.png);">
    <%# url(https://www.wallpapers13.com/wp-content/uploads/2017/12/Seven-Dwarfs-caracters-Doc-Grumpy-Sneezy-Sleepy-Happy-Bashful-and-Dopey-HD-Wallpaper-for-Desktop1920x1200-915x515.jpg);"> %>
    <%= render 'shared/search_bar' %>
  <div class="banner-content-container">
        <h1>MY LITTLE BUDDY</h1>
        <p>The best midget rental website!</p>
  </div>
</div>

<%= render 'shared/carousel' %>
