.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 180px 0;
  height: 800px;
}

.banner-content-container {
  position: absolute;
  top: 350px;
  margin: 0px 10%;
}

.banner h1 {
  font-size: 100px;
  color: #fcedd8;
  font-family: 'Niconne', cursive;
  letter-spacing: 15px;
  font-weight: 700;
  margin-bottom: 50px;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #050220, 
              35px 35px 0px #050220, 
              40px 40px 0px #050220,  
  
}


.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
