 .cards-dwarf-container {
   margin-top: 50px;
   padding: 0 10%;
  }

  .cards-dwarf{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-grow: 1;
    justify-items: center;
  }
  @media (max-width: 900px) {
    .cards-dwarf{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 500px) {
    .cards-dwarf{
      grid-template-columns: 1fr;
    }
  }

  .card-trip {
    position: relative;
  justify-content: space-between;
  margin: 15px 10px;
  width: 350px;
  height: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: 0.3s;
}

.card-trip:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: fill;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
}

.card-trip a {
  color: rgba(0, 0, 0, 0.616);
  text-transform: uppercase;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.card-trip-pricing {
  width: 100px;
  text-align: right;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.hire-btn {
  position: absolute;
  left: 30%;
  bottom: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
}

.cards-stars {
  position: absolute;
  top: 0;
  padding: 15px 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.445);
}
