.map-container {
  width: 100%;
  min-width: 300px;
  margin-left: 20px;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

#map {
  position: sticky;
  top: 100px;
  border: 1px solid white;
}
