.skills-container {
  display: flex;
}

.skill {
  background-color: darkblue;
  width: auto;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.397);
  margin: 3px;
}
